// COLOR THEME
$white: #E4E3E1;
$lightgrey: #C1BCBB;
$grey: #929292;
$darkgrey: #636363;
$black: #242424;
$blue: #449AC6;
$darkblue: #11527e;

body {
	margin: 0;
	padding: 0;
}

.container {
	background-color: $white;
	font-family: sans-serif;
	color: $black;
	width: 800px;
	height: 480px;
}

h1,
h2,
h3 {
	margin: 0;
}

.mainWindow {
	margin-left: 220px;

	.mainButtonContainer{
		display: flex;
		justify-content: space-around;
	}

	.mainWindowButton {
		color: $white;
		background-color: $grey;
		outline: none;
		width: 60px;
		height: 60px;
		border: solid 2px $lightgrey;
		border-radius: 8px;
		margin: 10px;
	}

	.mainWindowButton:active {
		background-color: $darkgrey;
	}

	.mainContainer{
		width: 95%;
		margin: 0 auto;
		display: block;
		box-sizing: border-box;
		// border: solid 2px white;
		height: 390px;

		.artContainer{
			position: relative;
		}

		.artFrame{
			width: 100%;
			box-sizing: border-box;
			border: dashed 2px $blue;
			height: 350px;
		}
		span{
			display: block;
			position: relative;
			margin-left: -20px;
			color: $blue;
		}

		.robotFrame{
			width:100px;
			border: dotted 2px black;
			height: 124.05px;
			position: absolute;
			bottom:25px;
			left:5px;
		}
	}
}

.sidebar {
	background-color: $grey;
	position: absolute;
	top: 0;
	left: 0;
	height: 480px;
	padding: 0 5px;

	.inputGroup {
		margin-bottom: 10px;
		outline: none;

		.incriment-btn {
			background-color: $blue;
			color: $white;
			width: 45px;
			height: 35px;
			margin: 5px 2px;
			font-size: 1.5em;
			border: solid 1px $black;
			border-radius: 10px;
			outline: none;
		}

		.incriment-btn:active {
			background-color: $darkblue;
		}
	}

	.numberInput {
		height: 30px;
		width: 86px;
		margin-right: 5px;
	}

	.debug {
		width: 90%;
		margin: 0 auto;
		height: 100px;

		input {
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			background-color: $black;
			color: $white;
		}
	}

	.bigButton {
		text-align: center;
		width: 90%;
		background-color: $blue;
		color: $white;
		font-size: 2em;
		border: solid 2px $black;
		border-radius: 10px;
		margin: 10px auto 10px 5%;
	}

	.bigButton.active:focus,
	.bigButton:focus {
		outline: none;
	}

	.bigButton:active {
		background-color: $darkblue;
	}
}
